* {
	margin: 0px;
	padding: 0px;
	font: 14px Roboto;
	}

a, a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	}

a:hover {
	color: #fff;
	background-color: rgba(158,0,255,0.6) ;
	text-decoration: none;
	}

	td {
		border: 1px solid;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		color: white;
	}

	table.musicfestival {
		height: 800px;
		background: linear-gradient(29deg, rgba(158,0,255,0.4) 0%, rgba(112,163,255,0.4) 100%), url('img/main.jpg') center;
		background-size: cover;
	}

	#menu {
		height: 50px;
		width: 100%;
		padding: 10px 0px 10px;
		text-align: center;
		word-spacing: 10px;
	}

	.festival {
		width: 540px;
		font-size: 900;
		padding-left: 50px;
		word-spacing: 100vw;
	}
	

.rolinghover {
border-radius: 10px;
padding: 10px;
font-weight: bold;
text-transform: uppercase;
background: rgba(218,0,174,0.6);
color: #fff;
text-align: center;
}

.maintime {
	margin: 0 auto;
	font-size: ;
	text-transform: uppercase;
	width: 80%;
	height: 80%;
	text-align: center;
}

.atristivite {
	width: 55%;
	height: 80px;
	padding-left: 50px;
	text-transform: uppercase;
	}

	.button {
		margin: 10px 0px 10px 50px;
		border: 1px solid;
		text-decoration: none;
		text-align: center;
		padding: 10px;
	}

	.buyticket {
		height: 50px;
	}

.logo {
	margin-left: 45%;
	width: 200px;
	background-color: #fff;
	border-radius: 10px;
}

img {
	width: 160px;
	background-color: rgba(158,0,255,0.4);
	
	
}